= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :location
    = f.input :date_and_time_of_event
    = f.input :description_event

  .form-actions
    = f.button :submit
