!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %link{href: "https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700", media: "screen", rel: "stylesheet", type: "text/css"}/
    :css
      /* No content under the fixed bootstrap header. */
      body {
        padding-top: 60px;
      }
    %link{href: "stylesheets/bootstrap.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/bootstrap-responsive.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/common.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/fontawesome.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/project.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/h2.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    =javascript_include_tag("date")
    /
      Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    %title H2
  %body


    #absolute-wrapper
      %a.brand{href: "#"} AwesomeCo
    .navbar.navbar-fixed-top
      .navbar-inner
        %img.pull-left.image{src: "images/bolt.png"}/
        %ul.nav.pull-right
          %li
            Home
          %li
            %a{href: "#"} Tour
          %li
            %a{href: "#"} About
    .container-fluid.container-fluid-1
      .container
        .row-fluid
          %span.span12
            %h1.heading Profile
            %p Subheading for marketing info
    .container.container-1
      .row-fluid
        %span.span3
          .well
            %ul.nav.nav-list
              %li
                %a.a-1.a-2{href: "#"}
                  Feature One
                  %i.icon.icon-chevron-right.pull-right
              %li.active
                %a.a-2{href: "#"}
                  Feature Two
                  %i.icon.icon-chevron-right.pull-right
              %li
                %a.a-1.a-2{href: "#"}
                  Feature Three
                  %i.icon.icon-chevron-right.pull-right
              %li
                %a.a-1.a-2{href: "#"}
                  Feature Four
                  %i.icon.icon-chevron-right.pull-right
              %li
                %a.a-1{href: "#"}
                  Feature Five
                  %i.icon.icon-chevron-right.pull-right.icon-chevron-right-1
        %span.span9
          .page-header
            %h1
              Hackathons
              %small
                %br
                  Choose your hackathon
                  .container
                    \    
  .row
    %br
      %br
        \      
        .span2.well.left
          \        
          .center
            \        
            %a{"data-toggle" => "modal", href: "#aboutModal"}
              %img.img-circle
                = image_tag("hackathons.png")
              \        
              %h3 Joe Sixpack
              \        
              %em click my face for more
              \         ;p>By the way,
              %br
                %a{href: "http://bootsnipp.com/TXTCLASS/snippets/25zz", target: "_blank"} there's a fresh 3.1.0 version ready
              \      
            \            
            #aboutModal.modal.hide
              \          
              .modal-header
                \              
                %button.close{"data-dismiss" => "modal", type: "button"} ✕
                \              
                %h3 About Joe
                \          
              \              
              .modal-body{style: "text-align:center;"}
                \              
                .row-fluid
                  \                  
                  .span10.offset1
                    \                      
                    #modalTab
                      \                          
                      .tab-content
                        \                              
                        #about.tab-pane.active
                          \    
                          %img.img-circle
                            = image_tag("hackathons.png")
                          \      
                          %h3.media-heading
                            Joe Sixpack
                            %small USA
                          \                
                          %span
                            %strong Skills:
                          \                
                          %span.label.label-warning HTML5/CSS
                          \                
                          %span.label.label-info Adobe CS 5.5
                          \                
                          %span.label.label-info Microsoft Office
                          \                
                          %span.label.label-success Windows XP, Vista, 7
                          \    
                        \    
                        %hr
                          \    
                          %center
                            \    
                            %strong Bio:
                            %br
                              \     Vous souhaitez participer a l'évenement en tant que ?
                            \      
                            %br
                              %a.btn.btn-sm.btn-info{href: "#" } Join as a Hacker
                              %a.btn.btn-sm.btn-primary{href: "#"} Join as a Helper
                              \      
        .span2.well.left
          \        
          .center
            \        
            %a{"data-toggle" => "modal", href: "#aboutModal"}
              %img.img-circle
                = image_tag("hackathons.png")
              \        
              %h3 Joe Sixpack
              \        
              %em click my face for more
              \         ;p>By the way,
              %br
                %a{href: "http://bootsnipp.com/TXTCLASS/snippets/25zz", target: "_blank"} there's a fresh 3.1.0 version ready
              \      
            \            
            #aboutModal.modal.hide
              \          
              .modal-header
                \              
                %button.close{"data-dismiss" => "modal", type: "button"} ✕
                \              
                %h3 About Joe
                \          
              \              
              .modal-body{style: "text-align:center;"}
                \              
                .row-fluid
                  \                  
                  .span10.offset1
                    \                      
                    #modalTab
                      \                          
                      .tab-content
                        \                              
                        #about.tab-pane.active
                          \    
                          %img.img-circle
                            = image_tag("hackathons.png")
                          \      
                          %h3.media-heading
                            Joe Sixpack
                            %small USA
                          \                
                          %span
                            %strong Skills:
                          \                
                          %span.label.label-warning HTML5/CSS
                          \                
                          %span.label.label-info Adobe CS 5.5
                          \                
                          %span.label.label-info Microsoft Office
                          \                
                          %span.label.label-success Windows XP, Vista, 7
                          \    
                        \    
                        %hr
                          \    
                          %center
                            \    
                            %strong Bio:
                            %br
                              \     Vous souhaitez participer a l'évenement en tant que ?
                            \      
                            %br
                              %a.btn.btn-sm.btn-info{href: "#" } Join as a Hacker
                              %a.btn.btn-sm.btn-primary{href: "#"} Join as a Helper
        

                            \      
                          \  
        .span2.well.left
          \        
          .center
            \        
            %a{"data-toggle" => "modal", href: "#aboutModal"}
              %img.img-circle
                = image_tag("hackathons.png")
              \        
              %h3 Joe Sixpack
              \        
              %em click my face for more
              \         ;p>By the way,
              %br
                %a{href: "http://bootsnipp.com/TXTCLASS/snippets/25zz", target: "_blank"} there's a fresh 3.1.0 version ready
              \      
            \            
            #aboutModal.modal.hide
              \          
              .modal-header
                \              
                %button.close{"data-dismiss" => "modal", type: "button"} ✕
                \              
                %h3 About Joe
                \          
              \              
              .modal-body{style: "text-align:center;"}
                \              
                .row-fluid
                  \                  
                  .span10.offset1
                    \                      
                    #modalTab
                      \                          
                      .tab-content
                        \                              
                        #about.tab-pane.active
                          \    
                          %img.img-circle
                            = image_tag("hackathons.png")
                          \      
                          %h3.media-heading
                            Joe Sixpack
                            %small USA
                          \                
                          %span
                            %strong Skills:
                          \                
                          %span.label.label-warning HTML5/CSS
                          \                
                          %span.label.label-info Adobe CS 5.5
                          \                
                          %span.label.label-info Microsoft Office
                          \                
                          %span.label.label-success Windows XP, Vista, 7
                          \    
                        \    
                        %hr
                          \    
                          %center
                            \    
                            %strong Bio:
                            %br
                              \     Vous souhaitez participer a l'évenement en tant que ?
                            \      
                            %br
                              %a.btn.btn-sm.btn-info{href: "#" } Join as a Hacker
                              %a.btn.btn-sm.btn-primary{href: "#"} Join as a Helper
                        
  .row
    %br
      %br
        \      
        .span2.well.left
          \        
          .center
            \        
            %a{"data-toggle" => "modal", href: "#aboutModal"}
              %img.img-circle
                = image_tag("hackathons.png")
              \        
              %h3 Joe Sixpack
              \        
              %em click my face for more
              \         ;p>By the way,
              %br
                %a{href: "http://bootsnipp.com/TXTCLASS/snippets/25zz", target: "_blank"} there's a fresh 3.1.0 version ready
              \      
            \            
            #aboutModal.modal.hide
              \          
              .modal-header
                \              
                %button.close{"data-dismiss" => "modal", type: "button"} ✕
                \              
                %h3 About Joe
                \          
              \              
              .modal-body{style: "text-align:center;"}
                \              
                .row-fluid
                  \                  
                  .span10.offset1
                    \                      
                    #modalTab
                      \                          
                      .tab-content
                        \                              
                        #about.tab-pane.active
                          \    
                          %img.img-circle
                            = image_tag("hackathons.png")
                          \      
                          %h3.media-heading
                            Joe Sixpack
                            %small USA
                          \                
                          %span
                            %strong Skills:
                          \                
                          %span.label.label-warning HTML5/CSS
                          \                
                          %span.label.label-info Adobe CS 5.5
                          \                
                          %span.label.label-info Microsoft Office
                          \                
                          %span.label.label-success Windows XP, Vista, 7
                          \    
                        \    
                        %hr
                          \    
                          %center
                            \    
                            %strong Bio:
                            %br
                              \     Vous souhaitez participer a l'évenement en tant que ?
                            \      
                            %br
                              %a.btn.btn-sm.btn-info{href: "#" } Join as a Hacker
                              %a.btn.btn-sm.btn-primary{href: "#"} Join as a Helper
                              \      
                            \      
                          \  
             

            %hr
    %p
         

        
    /           .span.span9
    /             %br

    /               %h1
    /                 Participants
    / /           %small 
    / /             %br 
    /               Pick your participants
    /       %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis quam at justo condimentum condimentum. Fusce arcu felis, fringilla nec varius a, rhoncus a libero. Donec ut ligula vitae leo pellentesque varius.
    /       %img.image{src: "http://placehold.it/850x300"}/
    / .container-fluid.container-fluid-2
    /   .container
    /     .row-fluid
    /       %span.span12
    /         .pull-left
    /           %p © AwesomeCo
    /         %ul.nav.nav-pills.pull-right
    /           %li
    /             %a{href: "#"} About
    /           %li
    /             %a{href: "#"} Privacy
    /           %li
    /             %a{href: "#"} Terms Of Service